.search_text {
  outline: none;
  display: flex;
  position: relative;
}
.search_input {
  border: 1px solid #d0cfcb;
  padding: 0.8rem;
  width: 250px;
  border-radius: 5px;
}
.search_icon {
  position: absolute;
  right: 12px; /* Adjust the right position as needed */
  top: 52%;
  transform: translateY(-50%);
}
.icon {
  font-weight: bolder;
  font-size: 1.2rem;
}

.search_text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  height: 80%;
  border-right: 1px solid #ccc;
  margin-left: 2px;
}
